
<div class="row">
    <div class="card col-md-8 col-lg-8">
        <div class="card-header">
            <h2>Your shopping Cart</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="table-responsive  col-sm-9 col-lg-9">
                    <table class="table table-hover table-borderless">
                        <thead>
                            <tr>
                                <th >Product</th>
                                <th class="text-center">Amount</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let shoppingCartItem of shoppingCartItems">
                                <td class="col sm-8 col-md-6">
                                    <div class="media">
                                        <img class="me-3 thumbnail img-fluid" width="75">
                                        <!-- [src]="shoppingCartItem.Product.ImageUrl"> -->
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mt-0 media-heading text-primary">{{shoppingCartItem.Product.Description}}</h5>
                                    </div>
                                </td>
                                <td class="col-sm-3 col-md-3" style="text-align: center">
                                  
                                    <div class="input-group ">                           
                                        <input type="number" [(ngModel)]="shoppingCartItem.Amount" class="form-control" placeholder="Amount" aria-label="Recipient's username" aria-describedby="button-addon2">
                                        <button class="btn btn-success" type="button" id="button-addon2" (click)="update(shoppingCartItem)">update</button>
                                      </div>
                                      
                                </td>
                                <td clas="col-sm-1 col-md-1 text-center"><strong>{{shoppingCartItem.Product.UnitPrice | currency:'USD':'symbol':'1.2-2'}}</strong></td>
                                <td clas="col-sm-1 col-md-1 text-center"><strong>{{shoppingCartItem.Total | currency:'USD':'symbol':'1.2-2'}}</strong></td>
                                <td class="col-sm-1 col-md-1">
                                    <button type="button" class="btn btn-danger" (click)="deleteShoppingCartItem(shoppingCartItem.ShoppingCartItemId )">X</button>
                                </td>
                            </tr>
                            <tr  *ngIf="totalCartItems">
                                <td colspan="0" class="">
                                    <h5><b>Subtotal</b></h5>
                                </td>
                                <td class="">
                                    <h5><strong>{{subTotalToPay | currency:'USD':'symbol':'1.2-2'}}</strong></h5>
                                </td>
                                <td></td>
                            </tr>
                            <tr *ngIf="totalCartItems">
                                <td colspan="0" class="" >
                                    <h5 ><b>Fee</b></h5>
                                </td>
                                <td class="">
                                    <h5><strong>{{fee | currency:'USD':'symbol':'1.2-2'}}</strong></h5>
                                </td>
                                <td></td>
                            </tr>
                            <tr *ngIf="totalCartItems">
                                <td colspan="0" class="">
                                    <h5><b>Shipping</b></h5>
                                </td>
                                <td class="">
                                    <h5><strong>{{shipping | currency:'USD':'symbol':'1.2-2'}}</strong></h5>
                                </td>
                                <td></td>
                            </tr>
                            <tr *ngIf="totalCartItems">
                                <td colspan="0" class="">
                                    <h3><b>Total</b></h3>
                                </td>
                                <td class="">
                                    <h3><strong>{{totalToPay | currency:'USD':'symbol':'1.2-2'}}</strong></h3>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>  
            </div>
        </div>
        <div class="card-footer">
            <div class="row ">
                <button  class="btn btn-danger m-4  col-sm-3 col-md-3" (click)="clearShoppingCart()" [disabled]="disableButton">Clear your shopping cart</button>
            </div>
        </div>
    </div>
    <div class=" card col-sm-4 col-lg-4 ">       
       <div class="card-body">
            <div class="row">
                <h3 class="text-center">Subtotal({{totalCartItems}}  Items): {{subTotalToPay | currency:'USD':'symbol':'1.2-2'}}</h3>
            </div>
            <div class="row" >            
                <div class="d-grid gap-2  col-6 mx-auto">
                    <button class="btn btn-success    " (click)="checkOut()" [disabled]="disableButton">Proceed to checkout</button>
                </div>
            </div>
       </div>
    </div>
</div>


<!--  <h2>Your shopping Cart</h2>
<div class="row">
    <div class="table-responsive  col-sm-8 col-lg-8">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th >Product</th>
                    <th class="text-center">Amount</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let shoppingCartItem of shoppingCartItems">
                    <td class="col sm-8 col-md-6">
                        <div class="media">
                            <img class="me-3 thumbnail img-fluid" width="75"
                            [src]="shoppingCartItem.Product.ImageUrl">
                        </div>
                        <div class="media-body">
                            <h5 class="mt-0 media-heading text-primary">{{shoppingCartItem.Product.Description}}</h5>
                        </div>
                    </td>
                    <td class="col-sm-3 col-md-3" style="text-align: center">
                      
                        <div class="input-group ">                           
                            <input type="number" [(ngModel)]="shoppingCartItem.Amount" class="form-control" placeholder="Amount" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-success" type="button" id="button-addon2" (click)="update(shoppingCartItem)">update</button>
                          </div>
                          
                    </td>
                    <td clas="col-sm-1 col-md-1 text-center"><strong>{{shoppingCartItem.Product.UnitPrice | currency:'USD':'symbol':'1.2-2'}}</strong></td>
                    <td clas="col-sm-1 col-md-1 text-center"><strong>{{shoppingCartItem.Total | currency:'USD':'symbol':'1.2-2'}}</strong></td>
                    <td class="col-sm-1 col-md-1">
                        <button type="button" class="btn btn-danger" (click)="deleteShoppingCartItem(shoppingCartItem.ShoppingCartItemId )">X</button>
                    </td>
                </tr>
                <tr *ngIf="totalCartItems">
                    <td colspan="3" class="text-rigt">
                        <h5>Subtotal</h5>
                    </td>
                    <td class="text-center">
                        <h5><strong>{{subTotalToPay | currency:'USD':'symbol':'1.2-2'}}</strong></h5>
                    </td>
                    <td></td>
                </tr>
                <tr *ngIf="totalCartItems">
                    <td colspan="3" class="text-rigt" >
                        <h5 >Fee</h5>
                    </td>
                    <td class="text-center">
                        <h5><strong>{{fee | currency:'USD':'symbol':'1.2-2'}}</strong></h5>
                    </td>
                    <td></td>
                </tr>
                <tr *ngIf="totalCartItems">
                    <td colspan="3" class="text-right">
                        <h5>Shipping</h5>
                    </td>
                    <td class="text-center">
                        <h5><strong>{{shipping | currency:'USD':'symbol':'1.2-2'}}</strong></h5>
                    </td>
                    <td></td>
                </tr>
                <tr *ngIf="totalCartItems">
                    <td colspan="3" class="text-right">
                        <h3>Total</h3>
                    </td>
                    <td class="text-center">
                        <h3><strong>{{totalToPay | currency:'USD':'symbol':'1.2-2'}}</strong></h3>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="col-sm-4 col-lg-4">
        <div class="row">
            <button  class="btn btn-danger m-4  col-sm-3 col-md-3" (click)="clearShoppingCart()" [disabled]="disableButton">Clear your shopping cart</button>
        </div>
        <div class="row">
            <button class="btn btn-success  col-sm-3 col-md-3 m-4" (click)="checkOut()" [disabled]="disableButton">Proceed to checkout</button>
        </div>
    </div>
</div>

 -->