<div class="card">
    <div class="card-footer text-center">
        <h2>Your account</h2>
    </div>
    <div class="card-body">
        <div class="row">
    
            <button class="btn btn-light col-3 m-4 text-start">
               <h3><i class="fa fa-search" aria-hidden="true"></i> Your Orders</h3>
                   <h5>Track, return or buy things again</h5>
            </button>
            <button class="btn btn-light col-3 m-4 text-start">
                <h3><i class="fa fa-shield" aria-hidden="true"></i> Login & Security</h3>
                   <h5>Edit login, name and mobile number</h5>
             </button>
             <button class="btn btn-light col-3 m-4 text-start" routerLink="/paymentMethod">
                <h3><i class="fa fa-money" aria-hidden="true"></i> Your Payments</h3>
                   <h5>View all transactions, manage payment methods and settings</h5>
             </button>
        </div>
    </div>
</div>

